body {
  margin: 0;
  background-color: black;
  overflow: hidden;
}

.space {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#galaxy {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 800px;
  transform: translate(-50%, -50%);
  animation: spin 60s linear infinite;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
